<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- setter injection -->
	<bean id="course" class="com.example.springcore.Course">
		<property name="id" value="1001" />
		<property name="cname" value="Java" />
		<property name="topics">
			<set>
				<value>Core Java</value>
				<value>Adv Java</value>
				<value>Spring</value>
			</set>
		</property>
	</bean>
	
	<!-- constructor injection -->
	<bean id="trainer" class="com.example.springcore.Trainer">
		<constructor-arg name="id" value="9001" />
		<constructor-arg name="tname" value="Scott" />
	</bean>
</beans>